@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Teacher Center</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/Teacher/Profile">Profile</a></li>
                <li><a href="/Teacher/Announcement">Announcement</a></li>
                <li><a href="/Teacher/Index">Examination</a></li>
                <li><a href="/Teacher/Project">Project</a></li>
                @*<li><a href="/Teacher/Student">学生管理</a></li>*@
                <li><a href="/Teacher/File">File</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Teacher/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" role="form" method="get">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">Username:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="username" name="user"
                               value="@ViewBag.user">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">OldPass:</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="oldpass" name="oldpass"
                               placeholder="oldpass">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">NewPass:</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="newpass" name="newpass"
                               placeholder="newpass">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button onclick="ChangePass()" class="btn btn-default">Submit</button>
                    </div>
                </div>
             </form>
        </div>
        <div class="col-md-6">
            <form class="form-horizontal" role="form" method="get">
                <div class="form-group">
                    <label for="firstname" class="col-sm-2 control-label">Title:</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" id="title" name="title"
                               placeholder="title">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastname" class="col-sm-2 control-label">SubTitle:</label>
                    <div class="col-sm-4">
                        <input type="password" class="form-control" id="subtitle" name="subtitle"
                               placeholder="subtitle">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button onclick="AddTitle()" class="btn btn-default">Submit</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
   
</div>

<script>
    function ChangePass() {
        var oldpass = $("#oldpass").get(0).value;
        var newpass = $("#newpass").get(0).value;
        var username = $("#username").get(0).value;
        $.post("ModifyProfile",
               "username="+username+"&oldpass="+oldpass+"&newpass="+newpass,
               success = function (data) {
                   if (data.status == "success") {
                       alert("succcess!");
                       location.href="Profile";
                   }
                   else {
                       alert("error! " + data.error);
                       location.href = "Profile";  
                   }
               })
        return false;   
    }
    function AddTitle() {
        var title = $("#title").get(0).value;
        var subtitle = $("#subtitle").get(0).value;
        $.post("AddTitleAndSubtitle",
               "title="+title+"&subtitle="+subtitle,
               success = function (data) {
                   if (data.status == "success") {
                       alert("succcess!");
                       location.href = "Profile";
                   }
                   else {
                       alert("error! " + data.error);
                       location.href = "Profile";
                   }
               }
            )
    }
</script>