@{
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    ViewBag.Title = "Project";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">Teacher Center</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Teacher/Index">Examination</a></li>
                <li><a href="/Teacher/Announcement">Announcement</a></li>
                @*<li><a href="/Teacher/Student">学生管理</a></li>*@
                <li><a href="/Teacher/File">File</a></li>
                <li class="active"><a href="/Teacher/Project">Project</a></li>
                <li><a href="/Teacher/Profile">Profile</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Teacher/Logout">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div id="evts" class="demo jstree jstree-7 jstree-default" role="tree" tabindex="0" aria-activedescendant="1" aria-busy="false">
            </div>
        </div>
        <div class="col-md-5">
            <form class="upload-form"  enctype="multipart/form-data">
                <div class="row">
                    <span class="col-md-3">Course:</span><input type="text" id="Course" />
                    <select onchange="setValue('Course',this.value)" id="select_course">
                        
                        @foreach (var c in ViewBag.Course)
                        {
                            <option>@c</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <span class="col-md-3">Year:</span><input id="Year" />
                    <select onchange="setValue('Year',this.value)" id="select_year">
                        
                        @foreach (var y in ViewBag.Years)
                        {
                            <option>@y</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <span class="col-md-3">Homework:</span><input id="Homework" />
                    <select onchange="setValue('Homework', this.value)" id="select_homework">
                        
                        @foreach (var h in ViewBag.Homeworks)
                        {
                            <option>@h</option>
                        }
                    </select>
                </div>
                <div class="row">
                    <span class="col-md-3">Student:</span><input id="Student" />
                </div>
                <div class="row">
                    <span class="col-md-3">Description:</span><input id="Description" />
                </div>
                <div class="row">
                    <span class="col-md-3">Visible:</span>
                    <select id="Visible">
                        <option>Visible</option>
                        <option>Invisible</option>
                    </select>
                </div>
                <div class="row">
                   
                        <span class="col-md-3">Jave File:</span><input type="file" name="java" size="1">

                    
                </div>
                
                <div class="row">

                    <span class="col-md-3">Image File:</span><input type="file" name="image" size="1">


                </div>
                <div >
                    <button onclick="AddProject()" class="btn btn-default col-md-3">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        //alert(1);
        try{
            var value = $("#select_course").get(0).options[0].value;
            $("input#Course")[0].value = value;
            value = $("#select_year").get(0).options[0].value;
            $("input#Year")[0].value = value;
            value =  $("#select_homework").get(0).options[0].value;
            $("input#Homework")[0].value = value;

        }
        catch(e){

        }
    });
    function AddProject() {
        var course = $("#Course").get(0).value;
        var year = $("#Year").get(0).value;
        var homework = $("#Homework").get(0).value;
        var student = $("#Student").get(0).value;
        var description = $("#Description").get(0).value;
        var tmp = $("#Visible").get(0).value;
        var visible = 0;
        if (tmp == "Visible") {
            visible = 1;
        }
        if (course == "" || year == "" || homework == "" || student == "") {
            alert("info can't be null");
            return;
        }
        $(".upload-form").ajaxSubmit({
            url: "AddProject",
            data:{
                "course": course,
                "year": year,
                "homework": homework,
                "student": student,
                "description": description,
                "visible":visible
            },
            type: "post",
            dataType: "json",
            beforeSubmit: function (arr, $form, option) {
               // $("#ProgressModal").modal();
            },
            uploadProgress:function(event, position, total, percent) {
                console.log(percent);
                //$("div.progress-bar").css("width", percent + "%");
               
            },
            success : function(data){
                console.log(data);
                if (data.status != "success") {
                    alert("error! "+data.error);
                    //alert("upload failed." + data.error);
                    //location.href="Project";
                 
                }
                else {
                    alert("upload success.");
                    // location.href = "Project";
                }

            },
            error: function () {

                alert("network error.");
                //location.reload();
            }
        });

    }
    function setValue(id, value) {
        $("input#" + id)[0].value = value;
    }
    function Delete() {
        var Id = $("#HiddenId").get(0).value;
        if (Id != "" && confirm("This action will delete the project,coninue?")) {
            var data = Id.split('_');
            $.post("DelProject",
                "course="+data[0]+"&year="+data[1]+"&homework="+data[2]+"&student="+data[3],
                success = function (data) {
                    if (data.status == "success") {
                        alert("success!");
                        location.reload();
                    }
                    else {
                        alert("error! " + data.error);
                        location.reload();
                    }
                })
        }
    }
    function ModifyStatus() {
        var Id = $("#HiddenId").get(0).value;
        if (Id.length > 0) {
            var data = Id.split('_');
            var visible = 1;
            if ($("#student_visible").html().split(':')[1] == "Visible") {
                visible = 0;
            }
            $.post("ModifyProject",
                   "course="+data[0]+"&year="+data[1]+"&homework="+data[2]+"&student="+data[3]+"&visible="+visible,
                   success = function (data) {
                       if (data.sstatus = "success") {
                           alert("success!");
                           location.reload();
                       }
                       else {
                           alert("error! " + data.error);
                           location.reload();
                       }
                   })
        }
    }



$('#evts')
    .on("changed.jstree", function (e, data) {
      //console.log(data);
      if(data.selected.length) {
          console.log('The selected node is: ' + data.instance.get_node(data.selected[0]).text);
          console.log(data.selected[0]);
      }
      var arr = data.selected[0].split('_');
      if (arr.length == 5) {
          
          $.post("GetProjectDetail",
              "course="+arr[1]+"&year="+arr[2]+"&homework="+arr[3]+"&student="+arr[4],
              success = function (data) {
                  
                  if (data.status == 'success') {
                      $("#HiddenId").get(0).value = arr[1] + "_" + arr[2] + "_" + arr[3] + "_" + arr[4];
                      $("#myModal").modal();
                      $("#student_name").empty();
                      $("#student_image").empty();
                      $("#student_programa").empty();
                      $("#student_code").empty();
                      $("#student_description").empty();
                      $("#student_visible").empty();
                      $("#student_name").append("Name:"+data.name);
                      $("#student_description").append("<div>description:</div><textarea>"+data.description+"</textarea>");
                      $("#student_image").append("<img src='" + data.image + "' style='width:40%;height:100%'>");
                      //$("#student_programa").append("<a href='" + data.programa + "'>" + "运行程序" + "</a>");
                      //$("#student_code").append("<a href='/" + data.code + "'>" + "查看代码" + "</a>");
                      $("#student_programa").append("<a href='/Project/Info?course=" +arr[1]+"&year="+arr[2]+ "&homework="+arr[3]+"&student="+arr[4]+ "'>" + "运行程序" + "</a>");
                      $("#student_code").append("<a href='/Project/Info?course=" + arr[1] + "&year=" + arr[2] + "&homework=" + arr[3] + "&student=" + arr[4] + "'>" + "查看代码" + "</a>");
                      if (data.visible == 1) {
                          $("#student_visible").append("Status:Visible" );
                      } else {
                          $("#student_visible").append("Status:Invisible");
                      }
                  }
                  else {
                      alert("error!");
                  }
              }
              )
          
      }
    })
    .jstree({
      'core' : {
      'data' : {
          "url": "GetProject",
          "method":"post",
          "data" : function (node) {
          return { "id" : node.id };
        }
      }
    }
    });
 </script>



<div class="modal fade" id="ProgressModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Progress
                </h4>
            </div>
            <div class="modal-body">
                <img src="/Content/images/yuya_load.gif">   Uploading....
            </div>
            <div class="modal-footer">
        
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close"
                        data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel">
                    Homework Info
                </h4>
            </div>
            <div class="modal-body">  
                <div class="row">              
                    <div class="col-md-6">
                        <div id="student_image" >
                        </div>
                        <input type="hidden" id="HiddenId"/>
                    </div>
                    <div class="col-md-6">
                        <div id="student_name">
                        </div>
                        <div id="student_description">
                        </div>
                        <div id="student_programa">
                        </div>
                        <div id="student_code">
                        </div>
                        <div id="student_visible">
                        </div>
                    </div>  
                    
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="Delete()">
                    Delete
                </button>

                <button type="button" class="btn btn-default" onclick="ModifyStatus()">
                    ModifyStatus
                </button>
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                    Close
                </button>
                
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>