<div id="header">

    <!-- Top -->
    <div id="top">
        <!-- Logo -->
        <div class="logo">
            <a href="#" title="首页" class="tooltip"><img src="~/Content/assets/logo.png" alt="Wide Admin" /></a>
        </div>
        <!-- End of Logo -->
        <!-- Meta information -->
        <div class="meta">
            <ul>
                <li><a href="#" title="退出" class="tooltip"><span class="ui-icon ui-icon-power"></span>Logout</a></li>
                
            </ul>
        </div>
        <!-- End of Meta information -->
    </div>
    <!-- End of Top-->
    <!-- The navigation bar -->
    <div id="navbar">
        <ul class="nav">
            <li><a href="#">home</a></li>
            <li><a href="/Student/Announcement">notifications</a></li>
            <li><a href="#">exam system</a></li>
            <li><a href="#">score</a></li>
            <li><a href="/Student/File">download</a></li>
        </ul>
    </div>
    <!-- End of navigation bar" -->
    

</div>