@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}
@section css{
    @Styles.Render("~/Content/css/login.css")
}
<div id="container">
    <div class="logo">
        <a href="#"><img src="~/Content/assets/logo.png" alt="" /></a>
    </div>
    <div id="box">
        <form action="/Index/Login" method="POST">
            <p class="main">
                <label>Username: </label>
                <input name="sid" placeholder="username" />
                <label>Password: </label>
                <input type="password" name="password" placeholder="password">
            </p>
            <p class="space">
                <span><input type="checkbox" name="rememberme"/>Remember me</span>
                <input type="submit" value="Login" class="login" />
            </p>
        </form>
    </div>
    @{
        if (ViewBag.login_failed != null)
        {
            <script>(function () { alert("用户名或密码错误！")})()</script>
        }
    }
</div>




