<!doctype html>
@{
    Layout = "";
    
}

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Register</title>
    <link type="text/css" href="~/Content/css/login.css" rel="stylesheet" />


    <script type="text/javascript" src="~/Content/js/jquery-1.3.2.min.js"></script>
    <script type="text/javascript" src="~/Content/js/easyTooltip.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-ui-1.7.2.custom.min.js"></script>
</head>
<body>
    <div id="container">
        <div class="logo">
            <a href="#"><img src="~/Content/assets/logo.png" alt="" /></a>
        </div>
        <div id="box">
            <form action="/Student/Register" method="POST">
                <p class="main">
                    <label>姓名: </label>
                    <input name="name" placeholder="username" />
                </p>
                <p class="main">
                    <label>学号:</label>
                    <input name="sid" placeholder="username" />
                </p>
                <p class="main">
                    <label>密码: </label>
                    <input type="password" name="password" placeholder="password">
                </p>
                <p class="space">
                    
                    <input type="submit" value="register" class="login" />
                    
                </p>
            </form>
        </div>
    </div>

</body>
</html>