@{
    ViewBag.Title = "文件下载";
}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">学生中心</a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/Student/Index">信息公告</a></li>
                <li><a href="/Student/Exam">参加考试</a></li>
                <li><a href="Result">成绩查询</a></li>
                <li class="active"><a href="/Student/File">文件下载</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/Student/Logout">退出登录</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" role="main">
    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            文件名
                        </th>
                        <th>
                            时间
                        </th>
                        <th>
                            大小
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var file in ViewBag.data)
                    {
                        <tr>
                            <td>
                                <a href="@file.path">@file.name</a>
                            </td>
                            <td>
                                @file.time
                            </td>
                            <td>
                                @file.size KB
                            </td>
                        </tr>

                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
